.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: calc(28/24);
    letter-spacing: 0.03em;
    text-decoration: none;

    /*геометрия*/
    display: block;
    margin-left: 15px;
    width: 134px;
    height: 28px;
    margin-top: 16px;
    margin-bottom: 16px;
    padding-bottom: 25px;
}




.web {
    color: var(--brand-color);
}

.studio {
    color: var(--black);
}