.portfolio__menu {
    padding-top: 30px;
    padding-bottom: 30px;
}

.buttom__list {
    /*геометрия*/

    display: flex;
    gap: 15px;
    margin-bottom: 30px;
    flex-wrap: wrap;
}

.button__item {
    font-weight: 500;
    font-size: 16px;
    font-family: inherit;
    line-height: calc(26/16);
    text-align: center;
    letter-spacing: 0.03em;
    border: none;
    background-color: var(--gray_1);

    /*геометрия*/
    margin-left: 8px;
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 6px;
    padding-bottom: 6px;
    transition-property: color, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:focus,
        &:hover {
            color: var(--white);
            background-color: var(--brand-color);
            box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
                0px 2px 2px rgba(0, 0, 0, 0.12);
            border-radius: 4px;
    
    
        }
}



.button__section,
.button__item {
    cursor: pointer;
}

.button__section {
    border: none;
    background-color: var(--white);

}



.picture__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
 
}

/*.pic_item {
   width: calc((100% - 60px) / 3);
}*/

.picture__link {
    width: 100%;
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
            display: block;
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
            1px 4px 6px rgba(0, 0, 0, 0.16);
        }


}


.picture__img {
    position: relative;
    overflow: hidden;
    width: 100%;
   
    
}

.picture__text {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(100%);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
    opacity: 0.9;
    transition-property: transform;

    .picture__link:hover & {
            transform: translateY(0);
        }
    
        .picture__link:focus & {
            transform: translateY(0);
        }

}


.text {
    font-weight: 400;
    font-size: 16px;
    line-height: calc(25/16);
    letter-spacing: 0.03em;
    color: var(--white);
    width: 100%;
    height: 100vw;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: var(--brand-color);
    opacity: 0.9;
}




.picture__border {
    border: 1px solid var(--gray_1);
    padding: 20px 24px;
}

.picture__description {
    font-size: 14px;
    line-height: calc(36/14);
    letter-spacing: 0.06em;
    color: var(--black_1);
    margin-bottom: 4px;
    white-space: nowrap;
}

.picture__undertext {
    font-size: 16px;
    line-height: calc(30/16);
    letter-spacing: 0.03em;
    color: var(--gray);
}