/*геометрия*/

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}



ul {
    list-style: none;
}

textarea {
    resize: none;
}

.container {
    /*геометррия*/
    width: 100%;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    margin-right: auto;
    margin-left: auto;
    @media screen and (min-width: 479px) {
    max-width: 480px;
    }

    @media screen and (min-width: 768px) {
    max-width: 768px;
    }

    @media screen and (min-width:1200px) {
    max-width: 1200px;
    }
}


