.first__page {
    display: flex;
    text-align: center;
    padding-bottom: 118px;
    padding-top: 118px;
    background: #2f303a;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), url(../../img/photo_page_1/hero_bg_mob.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 400px;
    margin: auto;

  @include mobile{
    max-width: 480px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), url(../../img/photo_page_1/hero_bg_tab.jpg);

  
   }


  @include tablet{
    max-width: 769px;
      background-image: linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), url(../../img/photo_page_1/hero_bg.jpg);

   
 }
 
  

  @include desctop{
    max-width: 1200px;
    height: 600px;
    align-items: center;
    justify-content: center;}


  }
        




.first__page--button{   
    display: inline;
    align-items: center;
    min-width: 216px;
    padding-top: 10px;
    padding-bottom: 10px;}

.first__page__title {

font-weight: 900;
font-size: 26px;
line-height: calc(42/26);
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--white);
text-align: center;
justify-content: center;

    /*геометрия*/
display: block;
margin-bottom: 30px;


 @include desctop{ 
font-size: 44px;
line-height: calc(60/44);
  }

} 