.page__footer {
    background-color: var(--black_gray);
    padding-top: 60px;
    padding-bottom: 60px;
    justify-content: center;
    align-items: center;
    text-align: center;

    @include mobile{
        min-width: 460px;
        max-width: 769px;
    }

    @include tablet{
        min-width: 769px;
        max-width: 1200px;
    }

    @include desctop{
        min-width: 1200px;
        max-width: 1600px;
    }
}

.footer__container {
    align-items: baseline;

    @include desctop{
        display: flex;
    }
    

}

    


@include tablet{

.footer__info{
    display: flex;
    gap: 165px;
    align-items: center;
    margin-bottom: 60px;
 }

}

.footer__info{
@include desctop{
    margin-bottom: 0;
    text-align: left;
    gap: 70px;
}
}

.footer__con_add{
display: block;
margin-bottom: 60px;
     
     @include tablet{
  margin-left: 76px;
  margin-bottom: 0;
 
}

@include desctop{
    margin-bottom: 0;
}
}

.footer__logo {
    display: block;
    margin-bottom: 20px;
    margin-right: 20px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;



}

.footer__studio {
    color: var(--white);
}

.footer__nav{
  margin-bottom: 60px;
  margin-top: 60px;
}

.footer__list {
    margin-bottom: 9px;
}

.footer__address {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7142;
    letter-spacing: 0.03em;
    color: var(--white);
    text-decoration: none;
    font-style: normal;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);


    &:hover,
        &:focus {
            color: var(--brand-color);
        }

    
}


.footer__tel {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.1742;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    font-style: normal;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
        &:focus {
            color: var(--brand-color);
        }
}


.footer__mail {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.1742;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    font-style: normal;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
        &:focus {
            color: var(--brand-color);
        }

}

/*footer_social*/

.footer__soc {
    display: block;
    width: 206px;
    height: 80px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 60px;

    

   @include tablet{
    align-items: baseline;
    margin-bottom: 0;
   }
}

.footer__soc__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1428;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white);
}


.footer__soc__list {
    margin-top: 20px;
    gap: 10px;
    display: flex;
    margin-bottom: 60px;

}

.footer__soc__item {
    width: 44px;
    height: 44px;
}

.footer__soc__link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: var(--white);
    background-color: var(--icon_futter);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color, background-color;

    &:hover,
        &:focus {
            background-color: var(--brand-color);
        }
                &:hover{
                    fill: var(--white);
                }
}




.footer__form{
    @include desctop{
    display: flex;
    }
}



.footer__form__text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1428;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white);
    margin-bottom: 20px;
}

.form__footer__style {
    align-items: center;
    
    @include tablet{
        justify-content: center;
        align-items: center;

    }
}

.form__footer__style input {
    padding-left: 16px;
    padding-bottom: 15px;
    padding-top: 15px;

    @include tablet{
    margin-bottom: 20px;
    display: flex; 
}
}



.footer__input {
    width: 100%;
    height: 50px;
    border-radius: 4px;
    background-color: var(--black_gray);
    border: 1px solid var(--gray);
    color: var(--white);
    margin-bottom: 20px;

    &:focus {
            outline: 1px solid var(--brand-color);
        }

    @include tablet{
        width: 450px;
        margin: auto;
    }

    @include desctop{
        width: 358px;
    }
}

.footer--button {

    /*геометрия*/
    display: inline;
    align-items: center;
    min-width: 200px;
    min-height: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 28px;
    position: relative;
}

.footer__form__icon {
    position: absolute;
    fill: var(--white);
    width: 24px;
    height: 24px;
    margin-left: 10px;
    top: 12px;
}