.our__team {
    padding-bottom: 60px;
    padding-top: 60px;
    background-color: var(--gray_1);

    @include mobile{
        max-width: 480px;
    }

    @include tablet{
        max-width: 769px;
    }

    @include desctop{
    min-width: 1200px;
        max-width: 1600px;
    padding-bottom: 94px;
    padding-top: 94px;
    }
}

.our__team__title {
  font-weight: 700;
  font-size: 25px;
  line-height: calc(33/25);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--black_1);
  margin-bottom: 30px;

  
 @include desctop{
    font-size: 36px;
    line-height: 1.1666;
    margin-bottom: 50px;
}
    
    
}

.our__team__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    right: 50%;
}

.our__team__foto {
    /*width: calc((100% - 90px) / 3);*/
    width: 100%;
    margin-bottom: 30px;
    padding-left: 0px;
    padding-right: 0;
    margin-right: 0;

    @include tablet{
        width:354px;
    }

    @include desctop{
        width: calc((100% - 90px) / 3);
        margin-bottom: 0;
        width: 270px;

    }

}



/*векторна графіка*/

.our__soc__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 16px;
    gap: 10px;

    @include desctop{
        flex-wrap: nowrap;
    }
    

}

.our__soc__item {
    width: 44px;
    height: 44px;
}

.our__soc__link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: var(--icon_color);
    transition-property: color, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
        &:focus {
            background-color: var(--brand-color);
        }
    
        &:hover,
        &:focus.our__soc__icon {
            fill: var(--white);
        }
}

.our__team__text {
    background-color: var(--white);
    padding-top: 30px;
    padding-bottom: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.our__team__people {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.1875;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--black_1);

    /*геометрия*/

    margin-bottom: 10px;
}

.our__team__job {
    font-size: 16px;
    line-height: 1.1875;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--gray);
}