/*.current {
    color: var(--brand-color);
}*/

.second__page {
    padding-top: 60px;

    @include mobile{
        max-width: 480px;
    }

    @include tablet{
        max-width: 769px;
    }
    @include desctop{
        min-width: 1200px;
        max-width: 1600px;
        padding-top: 94px;
    
    }

 }

 .second__page__text{
    @include tablet{
        text-align: left;
    }

    @include desctop{
        text-align: inherit;
    }
 }


.second__page__description {
    display: block;
    font-size: 14px;
    line-height: 1.7142;
    letter-spacing: 0.03em;
    color: var(--gray);
    width: 100%;
    text-align: center;
    margin-left: 2px;
    margin-right: 2px;

    /*геометрия*/
    margin-top: 10px;

      @include mobile{
        text-align: left;
       
    }
}

.second__page__title {
    display: flex;
    flex-wrap: wrap;
    text-align: center;

@include mobile{
    max-width: 460px;
}

@include tablet{
    max-width: 769px;
    display: flex;
    left: 50%;
    gap: 30px;
}

@include desctop{
flex-wrap: nowrap;
width: 1170px;
text-align: inherit;
}






}

.second__page__list {
    margin-bottom: 30px;
       &:last-child {
            margin-right: 0;
        }

        @include tablet{
     width: 354px;
    }

    @include desctop{
        width: 270px;
        height: 248px;

    }
    
}

.second__page__icons {
    display: flex;
    background-color: var(--gray_1);
    width: 100%;
    height: 100px;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    border-radius: 4px;

    @include tablet{
        width: 354px;
        height: 120px;
    }
    @include desctop{
        width: 270px;
    }

 
}

.second__page__icon {
    width: 70px;
    height: 70px;
}

